{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "decorators": true,
            "dynamicImport": true
        },
        "transform": {
            "react": {
                "runtime": "automatic",
                "development": false,
                "refresh": false
            }
        }
    },
    "module": {
        "type": "es6",
        "strict": true,
        "strictMode": true,
        "noInterop": true
    }
}
